

.proj-title {
    color: $dark-blue;
    padding: 30px 0;
    display: flex;
    justify-content: center;
    background-color: #ECF6FB;
    
    h1 {
        font-weight: 100;
        font-size: 36px;    
    }
}

.cont-cont {
    padding: 70px;
}
.main-content {
//   padding: 10%;
  flex: 1 1 80%;
  min-height: 100vh;
//   margin: 100px;

}


.portfolio {
  display: grid;
  height: 100%;
  grid-template-rows: repeat(6, 1fr);
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 20px;
//   grid-auto-flow: dense;


}

.portfolio-item {
  background: #f96855;
  color: #c4c4c4;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
//   height: 200px;
  overflow: hidden;
  // Refractored the code a little from the video.
  // Moved these from the .two, thought it made
  // more sense like this.
  font-size: 1.5em;
  background-size: cover;
//   background-position: top left;
//   transition: all ease-in-out 300ms;
//   position: relative;
//   z-index: 10;
  img {
    height: 100%;
  }
  &.small {
    grid-row: span 1;
    grid-column: span 1;
    // border-radius: 50%;
  }
  
  &.medium {
    grid-row: span 2;
    grid-column: span 2;
  }
  
  &.large {
    grid-row: span 3;
    grid-column: span 3;
  }
  
  &.tall {
    grid-row: span 3;
    grid-column: span 2;
  }
  
  &.wide {
    grid-row: span 2;
    grid-column: span 3;
  }
    
  &:hover {
    color: white;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.85);
  }
}

.two {
  background-image: url(//unsplash.it/800/600);
  
//   &::before {
//     content: '';
//     display: block;
//     background: black;
//     opacity: 0.8;
//     position: absolute;
//     top: 0;
//     right: 0;
//     bottom: 0;
//     left: 0;
//     transition: all ease-in-out 300ms;
//     z-index: -1;
//   }
  
//   &:hover::before {
//     opacity: 0.2;
//   }
}

