$off-white: #fcf7f8;
$dark-blue: #211c4f;
$material-grey: #bab0ba;
$material-pink: #d98d91;
$material-purple: #7d7ebe;
$material-red: #eb561a;
$material-yellow: #f0ac39;
$off-black: #322645;


.web-cont {

    // border: 2px solid #008000;
    display: flex;
    // text-align: center;
    width: 100%;
    justify-content: center;
    // margin: 0 auto;

    .web-sec {
        display: flex;
        flex-direction: column;
        width: 55%;
        text-align: center;
        padding: 70px;
    }

    .web-icon {
        width: 20%;
        padding: 60px;

        img {
            width: 100%;
            // border: 2px solid blue;
        }
    }

    .web-title {
        color: $material-purple;
        display: flex;
        padding: 20px;
        justify-content: center;
    }

    .web-text {
        display: flex;
        justify-content: center;
        color: rgb(150, 150, 150);
        padding: 20px;
        line-height: 1.5em;
        // border: 2px solid red;
        justify-content: center;

    }
}